body{
    margin: 0;
    padding: 0;
}

/*
head部分
*/
#head{
    height: 100px;
    background-color:#302D2D;
}
.left_logo{
    width: 150px;
    height: 100px;
    float: left;
    position: relative;
    left:100px;
}
.logo_title{
    width: 140px;
    height: 80px;
    position: relative;
    top: 10px;
}
.logo_title a{
    color: white;
    text-decoration: none;
}
.logo_title_word{
    font-size: 40px;
    font-family: Simsun;
    letter-spacing: 20px;
    position: relative;
    top: 15px;
}
.menu_mainpage{
    width: 200px;
    position: relative;
    left: 800px;
    bottom:20px;
}
.menu_mainpage a{
    text-decoration: none;
    font-size: 15px;
    font-family: serif;
    color: #F8F8F8;
}
.cartHead{
    position: relative;
    left:50px;
}
/*
body部分
*/
#body{
    width: 100%;
    height: 700px;
}
.body_table table{
    position: relative;
    top: 50px;
    text-align: center;
}
/*
foot部分
*/
#foot{
    height: 230px;
    font-family: serif;
}
.foot_title a{
    color:#FFFAFA;
    text-decoration: none;
    font-size: 40px;
    font-family: Simsun;
}
.foot_title{
    height: 150px;
    text-indent: 10%;
    background-color: #444444;
}
.foot_email{
    color:#C0C0C0;
    text-indent: 10%;
    height: 80px;
    background-color:#333333;
}
.email_content{
    position: relative;
    top: 20px;
}
.title_logo{
    position: relative;
    top: 40px;
}